/* Configuração Geral e Layout */
body { 
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #d1d1d1;
    margin: 0;
    flex-wrap: wrap;
    font-family: 'Arial', sans-serif;
    padding-bottom: 70px;
}

/* Estilização dos Cards */
.container { 
    background-color: #ffcb05;
    border: 12px solid #3b4cca;
    border-radius: 20px;
    padding: 20px;
    width: 300px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
}

.stats-container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 10px;
    text-align: left;
}

h3 {
    margin: 5px 0;
    font-size: 1.1em;
    text-align: left;
}

label {
    font-weight: bold;
    font-size: 1.5em;
}

/* Interface de Busca */
.search-box {
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 10px;
}

.btn-pokebola {
    background: none;
    border: none;
    padding: 0;
}

.btn-pokebola img {
    width: 50px;
    height: 50px;
}

.btn-pokebola:hover {
    transform: scale(1.1);
}

#listaPersonagens {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    height: 30px;
    width: 160px;
}

/* Rodapé Eletrizante */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(90deg, #3b4cca, #ffcb05, #3b4cca);
    background-size: 200% auto;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: 0 -5px 25px rgba(59, 76, 202, 0.8);
    text-shadow: 0 0 10px #fff, 2px 2px 5px rgba(0, 0, 0, 0.5);
    animation: brilhoEletrico 3s linear infinite;
    border-top: 4px solid #ffcb05;
    z-index: 1000;
}

@keyframes brilhoEletrico {
    0% { background-position: 0% 50%; filter: brightness(1); }
    50% { background-position: 100% 50%; filter: brightness(1.4); }
    100% { background-position: 0% 50%; filter: brightness(1); }
}